/* Header */

.header {
    height: 101px;
    background-color: #0071a2;
    width: 100%;
    z-index: 999;
}

.header-inner {
    max-width: 960px;
    margin: 0 auto;
}

/* Page Container */

.page-inner {
    max-width: 960px;
    margin: 24px auto 0 auto;
    padding: 0px 8px;
}

/* Typography */

.page-inner h1 {
    color: #00567a;
}

.page-inner h2 {
    color: #0071a2;
}

/* Overwrite Bootstrap table styles */

.table {
    border-spacing: 0px;
    border-radius: 5px;
    border: 1px solid #ddd;
    border-collapse: unset;
}

.table thead>tr>th, .table tbody>tr>td {
    border: none;
    font-size: 12px;
    line-height: 1.2;
    font-weight: normal;
    color: #0071a2;
}

.table .row {
    border-bottom: 1px solid #ddd;
    margin-left: 0px;
    margin-right: 0px;
}

/* Search results list */

.search-list {
    position: relative;
}

.list-group {
    min-width: 193px;
    position: absolute;
    z-index: 999;
}

.list-group-item:hover {
    background-color: #0071a2;
    color: #fff;
    cursor: pointer;
}

/* Selected items */

tr.row.selected {
    border-bottom: 2px solid #28a745;
    background: rgba(40, 167, 69, 0.05);
}

tr.row.selected:first-child {
    border-top: 2px solid #28a745;
}

tr.row.selected td {
    color: #28a745;
}





