/* Header */

.header {

    z-index: 999;
    min-height: 54px;

    .trust-bar {
        height: 30px;
        background-color: #00567a;

        @media (max-width: 768px) {
            display: none;
        }
    }

    .header-fixed  {
        background-color: #0071a2;

        @media (max-width: 768px) {
            position: fixed;
            width: 100%;
            top: 0;
            height: 54px;
        }

        .position-sm-static {

            @media (max-width: 768px) {
                position: static;
            }
        }

        .header-inner {
            width: 100%;
            max-width: 960px;
            margin: 0 auto;

            .p2u-logo {
                width: 240px;
                height: 49px;
                background: url(https://static.pharmacy2u.co.uk//OTC/NewDesign/images/2017/logo@2x.png) no-repeat 0 0;
                -webkit-background-size: cover;
                background-size: cover;

                @media (max-width: 768px) {
                    width: 106px;
                    height: 15px;
                    overflow: hidden;
                }
            }
        }
    }
}
