/* Selected items */

tr.row.selected {
    border-bottom: 2px solid #28a745;
    border-bottom: 2px solid #28a745;
    border-collapse: collapse;
    background: rgba(40, 167, 69, 0.05);

    td {
        color: #28a745;
    }
}