/* basket flyout */

.basket-flyout {
    position: absolute;
    top: 52px;
    right: 0;
    width: 515px;
    border: 1px solid #e7eaec;
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,.2);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.2);
    z-index: 999;

    @media (max-width: 768px) {
        width: 100%;
        top: 54px;
    }

    .bf-note .icon {
        width: 24px;
        height: 26px;
        background-position: -200px -65px;
        background-image: url(https://static.pharmacy2u.co.uk//OTC/NewDesign/images/2017/p2u-sprite.png);
        background-repeat: no-repeat;
    }

    .bf-arrow {
        position: absolute;
        width: 28px;
        height: 14px;
        top: -14px;
        right: 65px;
        background: url(https://static.pharmacy2u.co.uk//OTC/NewDesign/images/2017/p2u-sprite.png) no-repeat -63px 0;
        
        @media (max-width: 768px) {
            right: 12px;
        }
    }

    .bf-flyout .bf-subtotal .subtotal,
    .bf-items .bf-item {
        color: #0288d1;
    }

    .bf-items .bf-item .subtotal,
    .bf-items .bf-item .quantity {
        color: #383f43;
    }

}