/* Item-list */

.table {
    border-spacing: 0px;
    border-radius: 5px;
    border: 1px solid #ddd;
    border-collapse: unset;

    .row {
        border-bottom: 1px solid #ddd;
        margin-left: 0px;
        margin-right: 0px;
    }

    thead>tr>th,
    tbody>tr>td {
        border: none;
        font-size: 12px;
        line-height: 1.2;
        font-weight: normal;
        color: #0071a2;
        position: initial;
    }
}
